@model AspNetCoreTodo.ViewModels.ManageUsersViewModel

@{
    ViewData["Title"] = "Manage Users";
}

<h2>@ViewData["Title"]</h2>

<h3>Administradores</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.Administradores)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>

<h3>Todos</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.Todos)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>